.hero {
    margin: 0 auto;
    padding: 118px 0;
    max-width: 1600px;
    background-color: var(--becround-hero-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;


    //phone screen
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero/img_sm@1x.jpg');

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../images/hero/img_sm@2x.jpg');
    }


    //tablet screen
    @media screen and (min-width: 768px) {
        padding-top: 118px;
        padding-bottom: 118px;

        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../images/hero/img_md@1x.jpg');

        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url('../images/hero/img_md@2x.jpg');
        }
    }

    //descktop screen
    @media screen and (min-width: 1200px) {
        padding: 200px 0;

        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../images/hero/img_lg@1x.jpg');

        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url('../images/hero/img_lg@2x.jpg');
        }

    }
}

.hero__title {
    margin: auto;
    margin-bottom: 30px;
    width: 360px;
    font-family: var(--primary-font);
    font-style: inherit;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-white-color);

    @media screen and (min-width: 1200px) {

        width: 696px;
        font-size: 44px;
        line-height: 1.3;

    }
}