
body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: var(--primary-font);
}

.page-header {
    margin: 0px;
    border-bottom: 1px solid var(--border-line-color);

    .container {
        display: flex;
        align-items: center;
    }
}
.logo {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--accent-color)
}

.page-header__logo {
    color: var(--accent-black-color) {
        margin-bottom: 20px;
        color: var(--primary-white-color)
    }
}