.section-features {
    padding-top: 60px;
    padding-bottom: 0px;

    @media screen and (min-width: 1600px) {
        padding-top: 94px;
        
    }
}
.features {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        margin: 0px;
        gap: 30px;

        .features__item {
            max-width: 450px;

            @media screen and (min-width: 768px) {
                max-width: 354px;

            }

            @media screen and (min-width: 1600) {
                max-width: 270px;

            }
        }
    }
}
.features__icon {
    padding: 25px 190px;
    margin-bottom: 30px;
    background: var(--primary-button-color);
    border-radius: 4px;

    @media screen and (min-width: 768px) {
        padding: 25px 142px;

    }

    @media screen and (min-width: 1600) {
        padding: 25px 100px;

    }
}

.features__title {
    margin-top: 0px;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--title-text-color);

    .features__text {
    
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;

        color: var(--primary-text-color)
    }
}
 
